<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cutplanner</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="CutMachine/entity/Capacity.hbm.xml"/>
    <mapping resource="CutMachine/entity/Termin.hbm.xml"/>
    <mapping resource="CutMachine/entity/Outputmaterial.hbm.xml"/>
    <mapping resource="CutMachine/entity/Inputmaterial.hbm.xml"/>
    <mapping resource="CutMachine/entity/Deadline.hbm.xml"/>
    <mapping resource="CutMachine/entity/State.hbm.xml"/>
    <mapping resource="CutMachine/entity/Responsibility.hbm.xml"/>
    <mapping resource="CutMachine/entity/Druhpapiru.hbm.xml"/>
    <mapping resource="CutMachine/entity/Person.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
